img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #876955;
    margin-left: 50px;
    margin-top: 130px;
}

h1 {
    padding-left: 6%;
    margin-bottom: 1px;
    margin-top:0px;
    font-size: 45px;
    padding-top: 100px;

}

h3 {
    color:#876955;
    padding-left: 6%;
    margin-top:0;
    padding-top: 15px;
   
    margin-bottom: 3px ;
    font-size: 25px;
}

h2 {
    padding-left: 6%;
    color:#876955;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 5px;
}

header {
    background-color: #ddbba3;
    color:azure;
    border-radius: 15px 0 0 0;
    margin-bottom: 0;
    margin-top: 0;
}

footer {
    background-color: #ddbba3;
    color:azure;
    margin-top: auto;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0 0 15px 15px;
    margin-top: 0;
}

.profil {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 5px;
    padding-bottom: 20px;
}
.pozice span {
    background-color: #b08e77;
    color: azure;
    padding: 5px 15px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
}

.pozice {
    padding-left: 6%;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex: 1; 
    padding-left: 4%;
    padding-right: 4%;
}

body {
    font-family: "Times New Roman";
    line-height: 1.7;
    font-style: normal;
    flex-direction: column;
    min-height: 100vh;
}

li {
    margin-bottom: 0;
    margin-top: 3px;

}

.box-right {
    background-color: #b08e77;
    width: 28%;
    border-radius: 0 15px 0 0;


}

.box-left {
    width: 72%;
}

.kontakt {
    color:azure;
    margin-top: 80px;
    padding-left: 12%;
    padding-right: 6%;
    margin-bottom: 30px;
}



.Hardskills {
    margin-top: 12px;
    padding-left: 12%;
    padding-right: 6%;
    margin-bottom: 30px;
}

.Jazyky {
    margin-top: 12px;
    padding-left: 12%;
    padding-right: 6%;
    margin-bottom: 3px;
}



ul.jazyk {
    color:azure;
    margin-top: 3px;
    padding-left: 12%;
    padding-right: 6%;
    margin-bottom: 0;


}

 ul.skills {
    color:azure;
    margin-top: 3px;
}

.kontakt a:link,
.kontakt a:visited {
    color: azure;
}

a:link,
a:visited {
    color: rgb(133, 101, 57);
}


.kontakt a:hover,
.projekt a:hover {
    color: #e1c4a3;
}

.vzdelani,
.prace,
.hobby {
    background-color: rgb(249, 242, 233);
    margin-top: 0;
    margin: 0 0 0 0;
}

ul.kontakty
{
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 3px;
    padding-left: 10%;
    padding-right: 6%;
    list-style-type: none;
}



ul.pozice
{
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-top: 3px;
    padding-left: 12%;
    padding-right: 6%;

}

